<nav class="bg-white border-gray-200 border-b">
  <div class="flex flex-wrap justify-between items-center">
    <a class="flex items-center" href="/">


      <img
        class="h-10 w-10 ml-5"
        src="https://storage.googleapis.com/smartpatrol_media/logo%20MB%20hat.svg"
        alt="logo"
      />

      <div class="px-2 text-2xl">Mijn bachelorproef</div>
    </a>
    <button
      (click)="toggleHamburger()"
      aria-controls="navbar-default"
      aria-expanded="false"
      class="inline-flex items-center p-2 ml-3 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200"
      data-collapse-toggle="navbar-default"
      type="button"
    >
      <span class="sr-only">Open main menu</span>
      <svg
        aria-hidden="true"
        class="w-6 h-6"
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          clip-rule="evenodd"
          d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
          fill-rule="evenodd"
        ></path>
      </svg>
    </button>
    <div
      [hidden]="!hamburgerOpen"
      class="w-full md:block md:w-auto"
      id="navbar-default"
    >
      <ul
        class="flex flex-col p-4 mt-4 bg-gray-50 rounded-lg border border-gray-100 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 md:bg-white"
      >
        <li>
          <a
            (click)="onHamburgerItemClick()"
            [routerLinkActiveOptions]="{ exact: true }"
            class="block py-2 pr-4 pl-3 rounded"
            routerLink="/"
            routerLinkActive="active"
            >Home</a
          >
        </li>
        <li>
          <a
            (click)="onHamburgerItemClick()"
            [routerLinkActiveOptions]="{ exact: true }"
            class="block py-2 pr-4 pl-3 rounded"
            routerLink="/topics"
            routerLinkActive="active"
            >Topics</a
          >
        </li>
        <li>
          <a
            (click)="onHamburgerItemClick()"
            [routerLinkActiveOptions]="{ exact: true }"
            class="block py-2 pr-4 pl-3 rounded"
            routerLink="/proposals"
            routerLinkActive="active"
            >Proposals</a
          >
        </li>
        <li *ngIf=!isAuthenticated()>
          <app-login-button ></app-login-button>
        </li>
        <li *ngIf=!isAuthenticated()>
          <app-signup-button></app-signup-button>
        </li>
        <li *ngIf="isAuthenticated() && isStudent()">
          <button
            (click)="onStudentDropDownClick()"
            class="flex justify-between items-center py-2 pr-4 pl-3 w-full"
            id="dropdownStudentNavbarLink"
          >
            Student
            <svg
              aria-hidden="true"
              class="ml-1 w-5 h-5"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                clip-rule="evenodd"
                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                fill-rule="evenodd"
              ></path>
            </svg>
          </button>
          <!-- Dropdown menu -->
          <div
            (mouseleave)="closeStudentDropDown()"
            *ngIf="studentDropdownOpen"
            class="z-10 w-44 font-normal shadow bg-white rounded-md py-1 absolute top-12 right-0"
            id="dropdownStudentNavbar"
          >
            <ul
              aria-labelledby="dropdownLargeButton"
              class="py-1 text-sm text-gray-700"
            >
              <li>
                <a
                  (click)="navigateTo('student/topic')"
                  class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                  >Topics</a
                >
                <a
                  (click)="navigateTo('student/proposal')"
                  class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                  >Proposals</a
                >
              </li>
            </ul>
          </div>
        </li>
        <li *ngIf="isAuthenticated() && isCoach()">
          <button
            (click)="onCoachDropDownClick()"
            class="flex justify-between items-center py-2 pr-4 pl-3 w-full"
            id="dropdownCoachNavbarLink"
          >
            Coach
            <svg
              aria-hidden="true"
              class="ml-1 w-5 h-5"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                clip-rule="evenodd"
                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                fill-rule="evenodd"
              ></path>
            </svg>
          </button>
          <!-- Dropdown menu -->
          <div
            (mouseleave)="closeCoachDropDown()"
            *ngIf="coachDropdownOpen"
            class="z-10 w-44 font-normal shadow bg-white rounded-md py-1 absolute top-12 right-0"
            id="dropdownCoachNavbar"
          >
            <ul
              aria-labelledby="dropdownLargeButton"
              class="py-1 text-sm text-gray-700"
            >
              <li>
                <a
                  (click)="navigateTo('coach/topic')"
                  class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                  >Topics</a
                >
                <a
                  (click)="navigateTo('coach/proposal')"
                  class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                  >Proposals</a
                >
              </li>
            </ul>
          </div>
        </li>
        <li *ngIf="isAuthenticated() && isMentor()">
          <button
            (click)="onMentorDropDownClick()"
            class="flex justify-between items-center py-2 pr-4 pl-3 w-full"
            id="dropdownMentorNavbarLink"
          >
            Mentor
            <svg
              aria-hidden="true"
              class="ml-1 w-5 h-5"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                clip-rule="evenodd"
                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                fill-rule="evenodd"
              ></path>
            </svg>
          </button>
          <!-- Dropdown menu -->
          <div
            (mouseleave)="closeMentorDropDown()"
            *ngIf="mentorDropdownOpen"
            class="z-10 w-44 font-normal shadow bg-white rounded-md py-1 absolute top-12 right-0"
            id="dropdownMentorNavbar"
          >
            <ul
              aria-labelledby="dropdownLargeButton"
              class="py-1 text-sm text-gray-700"
            >
              <li>
                <a
                  (click)="navigateTo('mentor/topic')"
                  class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                >Topics</a
                >
                <a
                  (click)="navigateTo('mentor/proposal')"
                  class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                >Proposals</a
                >
              </li>
            </ul>
          </div>
        </li>
        <li *ngIf="isAuthenticated() && isAdmin()">
          <button
            (click)="onAdminDropDownClick()"
            class="flex justify-between items-center py-2 pr-4 pl-3 w-full"
            id="dropdownNavbarLink"
          >
            Admin
            <svg
              aria-hidden="true"
              class="ml-1 w-5 h-5"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                clip-rule="evenodd"
                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                fill-rule="evenodd"
              ></path>
            </svg>
          </button>
          <!-- Dropdown menu -->
          <div
            (mouseleave)="closeAdminDropDown()"
            *ngIf="adminDropdownOpen"
            class="z-10 w-44 font-normal shadow bg-white rounded-md py-1 absolute top-12 right-0"
            id="dropdownNavbar"
          >
            <ul
              aria-labelledby="dropdownLargeButton"
              class="py-1 text-sm text-gray-700"
            >
              <li>
                <a
                  (click)="navigateTo('admin/topic')"
                  class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                  >Topics</a
                >
                <a
                  (click)="navigateTo('admin/proposal')"
                  class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                  >Proposals</a
                >
              </li>
            </ul>
          </div>
        </li>
        <li *ngIf=isAuthenticated()>
          <app-logout-button></app-logout-button>
        </li>
      </ul>
    </div>
  </div>
</nav>
