<div class="grid grid-cols-1 sm:grid-cols-3 gap-4 ">
  <div class="bg-white rounded p-4 col-span-1">
    <p>Thank you for your commitment to providing our students with a learning experience in your organization. By filling out the form next to this, the student will see your organization as a possible workplace to carry out a bachelor’s thesis project. </p>
  </div>
  <div class="bg-white rounded p-4 col-span-2">
    <app-mentor-organisation-form></app-mentor-organisation-form>
  </div>
</div>
