<div class="grid grid-cols-1 sm:grid-cols-2 gap-4 ">
    <div class="bg-white rounded p-4">
        <h3>Proceed step by step</h3>
        <p> First think about the possible topics or themes your project could be about. Read the descriptions, then choose an organization where you want to carry out your project. The project proposals will then be filtered based on your preferences. Finally, you can create a project based on the proposal. Adjust the title and description and submit your project!</p>
    </div>
    <div class="bg-white rounded p-4 flex items-center justify-center">
        <img src="../../../../assets/flow.png" alt="flow" class="w-full">
    </div>
    <div class="bg-white rounded p-4 flex items-center justify-center">
        <img src="../../../../assets/icons.png" alt="flow" class="w-full">
    </div>
    <div class="bg-white rounded p-4">
        <h3>Select, save and proceed</h3>
        <p>Select, save and proceed: use the stars to express a preference, and save your selection. The progress bar shows your progress. When all conditions are met, you can submit the project.
        </p>
    </div>
</div>
