<div class="bg-gray-100 p-6">
    <h1>Welcome {{ (user$ | async)?.givenName }}</h1>
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 ">
        <div class="bg-white rounded p-4">
            <h3>Choose wisely</h3>
            <p>As you embark on your academic journey, the choices you make today will shape your future. Selecting the right topic for your bachelor's project isn't just a checkbox—it's a pivotal moment that can propel you toward success or leave you navigating uncharted waters.</p>
        </div>
        <div class="bg-white rounded p-4 flex items-center justify-center">
            <img src="/assets/flow.png" alt="flow" class="w-full">
        </div>
        <div class="bg-white rounded p-4 flex items-center justify-center">
            <img src="/assets/icons.png" alt="flow" class="w-full">
        </div>
        <div class="bg-white rounded p-4">
            <h3>Opportunities Await</h3>
            <p>Every topic is a gateway to learning opportunities. It's not just about acing an assignment; it's about diving deep into research, engaging with experts, and unraveling mysteries. When you choose wisely, you open doors to internships, collaborations, and real-world experiences.
            </p>
        </div>
    </div>
</div>

