.triangle-green {
  @apply absolute top-0 right-0 w-8 h-8 bg-transparent;
  &::after {
    content: "";
    @apply absolute top-0 right-0 w-8 h-8 bg-orange-300 rounded;
    clip-path: polygon(0 0, 100% 0, 100% 100%);
  }
}

.triangle-red {
  @apply absolute top-0 right-0 w-8 h-8 bg-transparent;
  &::after {
    content: "";
    @apply absolute top-0 right-0 w-8 h-8 bg-green-300 rounded;
    clip-path: polygon(0 0, 100% 0, 100% 100%);
  }
}

.triangle-blue {
  @apply absolute top-0 right-0 w-8 h-8 bg-transparent;
  &::after {
    content: "";
    @apply absolute top-0 right-0 w-8 h-8 bg-blue-300 rounded;
    clip-path: polygon(0 0, 100% 0, 100% 100%);
  }
}

.label {
  @apply inline-block py-1 px-2 mr-2 mb-2 border rounded;
}

.pin {
  @apply absolute top-1 left-1 w-3 h-3 rounded-full;
  background: radial-gradient(circle at 30% 30%, #bbb, #999 70%, #666 100%);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  transform: rotate(45deg);
}

.icon {
  font-size: 16px; /* Adjust the size as needed */
  color: transparent; /* This makes the fill color transparent */
  -webkit-text-stroke: 1px grey; /* This creates a grey outline */
}

