<div
  *ngIf="isSubmitted && errorMessage"
  class="rounded p-4 mb-4 text-lg bg-red-200 text-red-800 border-2 border-red-300"
>
  {{ errorMessage }}
</div>
<form #proposalForm="ngForm" (ngSubmit)="onSubmit()">
  <div class="mb-6">
    <label class="block mb-2 text-sm font-medium text-gray-900" for="title"
      >Title</label
    >
    <input
      #title="ngModel"
      [(ngModel)]="proposal.title"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
      id="title"
      name="title"
      placeholder="Title"
      required
      type="text"
    />
    <div [hidden]="title.valid || title.pristine" class="text-red-500 mt-2">
      Title is required
    </div>
  </div>
  <div class="mb-6">
    <label class="block mb-2 text-sm font-medium text-gray-900" for="title"
      >Description</label
    >
    <textarea
      #description="ngModel"
      [(ngModel)]="proposal.description"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
      cols="40"
      id="description"
      name="description"
      placeholder="Description"
      required
      rows="5"
      type="text"
    ></textarea>
    <div
      [hidden]="description.valid || description.pristine"
      class="text-red-500 mt-2"
    >
      Description is required
    </div>
  </div>
  <div class="mb-6">
    <label class="block mb-2 text-sm font-medium text-gray-900" for="title"
      >Origin</label
    >
    <input
      #origin="ngModel"
      [(ngModel)]="proposal.origin"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
      id="origin"
      name="origin"
      placeholder="Origin"
      required
      type="text"
    />
    <div [hidden]="origin.valid || origin.pristine" class="text-red-500 mt-2">
      Origin is required
    </div>
  </div>

  <button
    *ngIf="isAdd"
    [disabled]="!proposalForm.valid || isSubmitted"
    class="text-white bg-blue-700 enabled:hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center disabled:opacity-75"
    type="submit"
  >
    Add
  </button>
  <button
    *ngIf="isEdit"
    [disabled]="!proposalForm.form.valid || isSubmitted"
    class="text-white bg-blue-700 enabled:hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center disabled:opacity-75"
    type="submit"
  >
    Save
  </button>
</form>
