<div
  *ngIf="isSubmitted && errorMessage"
  class="rounded p-4 mb-4 text-lg bg-red-200 text-red-800 border-2 border-red-300"
>
  {{ errorMessage }}
</div>
<form #topicForm="ngForm" (ngSubmit)="onSubmit()">
  <div class="mb-6">
    <label class="block mb-2 text-sm font-medium text-gray-900" for="name"
      >Name</label
    >
    <input
      #name="ngModel"
      [(ngModel)]="topic.name"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
      id="name"
      name="name"
      placeholder="Name"
      required
      type="text"
    />
    <div [hidden]="name.valid || name.pristine" class="text-red-500 mt-2">
      Name is required
    </div>
  </div>
  <div class="mb-6">
    <label class="block mb-2 text-sm font-medium text-gray-900" for="name"
      >Description</label
    >
    <input
      #description="ngModel"
      [(ngModel)]="topic.description"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
      id="description"
      name="description"
      placeholder="Description"
      required
      type="text"
    />
    <div
      [hidden]="description.valid || description.pristine"
      class="text-red-500 mt-2"
    >
      Description is required
    </div>
  </div>

  <button
    *ngIf="isAdd"
    [disabled]="!topicForm.valid || isSubmitted"
    class="text-white bg-blue-700 enabled:hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center disabled:opacity-75"
    type="submit"
  >
    Add
  </button>
  <button
    *ngIf="isEdit"
    [disabled]="!topicForm.form.valid || isSubmitted"
    class="text-white bg-blue-700 enabled:hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center disabled:opacity-75"
    type="submit"
  >
    Save
  </button>
</form>
