<div class="container mx-auto mt-8">
  <div
    *ngIf="errorMessage"
    class="rounded p-4 mb-4 text-lg bg-red-200 text-red-800 border-2 border-red-300"
  >
    {{ errorMessage }}
  </div>
  <div class="mb-4">
    <h1 class="text-3xl">Statuses</h1>
    <div class="flex justify-end">
      <button
        (click)="add()"
        class="px-4 py-2 rounded-md bg-sky-500 text-sky-100 hover:bg-sky-600"
      >
        Create status
      </button>
    </div>
  </div>
  <div class="overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8">
    <div
      class="inline-block min-w-full overflow-hidden align-middle border-b border-gray-200 shadow sm:rounded-lg"
    >
      <table class="min-w-full">
        <thead>
          <tr>
            <th
              class="px-6 py-3 text-xs font-medium text-left text-gray-500 border-b border-gray-200 bg-gray-50"
            >
              #
            </th>
            <th
              class="px-6 py-3 text-xs font-medium text-left text-gray-500 border-b border-gray-200 bg-gray-50"
            >
              Name
            </th>
            <th
              class="px-6 py-3 text-xs font-medium text-left text-gray-500 border-b border-gray-200 bg-gray-50"
            >
              Active
            </th>
            <th
              class="px-6 py-3 text-xs text-center text-gray-500 border-b border-gray-200 bg-gray-50"
            >
              &nbsp;
            </th>
          </tr>
        </thead>

        <tbody class="bg-white">
          <tr *ngFor="let st of statuses">
            <td class="px-6 py-4 border-b border-gray-200">
              <div class="flex items-center">
                {{ st.id }}
              </div>
            </td>

            <td class="px-6 py-4 border-b border-gray-200">
              <div class="text-sm text-gray-900">{{ st.name }}</div>
            </td>
            <td class="px-6 py-4 border-b border-gray-200">
              <svg
                *ngIf="st.active"
                class="w-6 h-6"
                fill="none"
                stroke="currentColor"
                stroke-width="1.5"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M4.5 12.75l6 6 9-13.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>

              <svg
                *ngIf="!st.active"
                class="w-6 h-6"
                fill="none"
                stroke="currentColor"
                stroke-width="1.5"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M6 18L18 6M6 6l12 12"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </td>

            <td class="text-sm font-medium border-b border-gray-200">
              <div class="flex justify-end gap-4">
                <a
                  (click)="edit(st.id)"
                  class="text-indigo-600 hover:text-indigo-900 cursor-pointer"
                >
                  <svg
                    class="w-6 h-6"
                    fill="none"
                    stroke="currentColor"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                    />
                  </svg>
                </a>
                <a (click)="delete(st.id)" class="mr-0 md:mr-4 cursor-pointer">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="w-6 h-6 text-red-600 hover:text-red-800"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"
                    />
                  </svg>
                </a>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
