<nav class="bg-white border-gray-200 border-b mb-2 pr-4">
  <div class="flex flex-wrap justify-between items-center">
    <a class="flex items-center" routerLink="/">


      <img
        class="h-10 w-10 ml-5"
        src="https://storage.googleapis.com/smartpatrol_media/logo%20MB%20hat.svg"
        alt="logo"
      />

      <div class="px-2 md:text-2xl graduate-regular">My bachelor's project</div>
    </a>
    <button
      (click)="toggleHamburger()"
      aria-controls="navbar-default"
      aria-expanded="false"
      class="inline-flex items-center p-2 ml-3 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200"
      data-collapse-toggle="navbar-default"
      type="button"
    >
      <span class="sr-only">Open main menu</span>
      <svg
        aria-hidden="true"
        class="w-6 h-6"
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          clip-rule="evenodd"
          d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
          fill-rule="evenodd"
        ></path>
      </svg>
    </button>
    <div
      [hidden]="!hamburgerOpen"
      class="w-full sm:block sm:w-auto"
      id="navbar-default"
    >
      <ul
        class="flex flex-col p-4 mt-4 bg-gray-50 rounded-lg border border-gray-100 sm:flex-row  sm:mt-0 md:text-sm sm:font-medium sm:border-0 sm:bg-white"
      >
        <ng-container *ngIf=isAuthenticated()>

        <li *ngIf="isStudent()">
          <button
                  (click)="onStudentDropDownClick()"
                  class="flex justify-between items-center py-2 pr-4 pl-3 w-full"
                  id="dropdownStudentNavbarLink"
          >
            Student {{user.name}}
            <svg
                    aria-hidden="true"
                    class="ml-1 w-5 h-5"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
            >
              <path
                      clip-rule="evenodd"
                      d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                      fill-rule="evenodd"
              ></path>
            </svg>
          </button>
          <div
                  (mouseleave)="closeStudentDropDown()"
                  *ngIf="studentDropdownOpen"
                  class="z-10 w-44 font-normal shadow bg-white rounded-md py-1 absolute top-12 right-100"
                  id="dropdownStudentNavbar"
          >
            <ul
                    aria-labelledby="dropdownLargeButton"
                    class="py-1 text-sm text-gray-700"
            >
              <li>
                <app-logout-button class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"></app-logout-button>
              </li>
            </ul>
          </div>
        </li>
        <li *ngIf="isCoach()">
          <button
                  (click)="onCoachDropDownClick()"
                  class="flex justify-between items-center py-2 pr-4 pl-3 w-full"
                  id="dropdownCoachNavbarLink"
          >
            Coach {{user.name}}
            <svg
                    aria-hidden="true"
                    class="ml-1 w-5 h-5"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
            >
              <path
                      clip-rule="evenodd"
                      d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                      fill-rule="evenodd"
              ></path>
            </svg>
          </button>
          <!-- Dropdown menu -->
          <div
                  (mouseleave)="closeCoachDropDown()"
                  *ngIf="coachDropdownOpen"
                  class="z-10 w-44 font-normal shadow bg-white rounded-md py-1 absolute top-12 right-100"
                  id="dropdownCoachNavbar"
          >
            <ul
                    aria-labelledby="dropdownLargeButton"
                    class="py-1 text-sm text-gray-700"
            >
              <li>
                <a
                        (click)="navigateTo('coach')"
                        class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                >Your proposal</a
                >
                <app-logout-button class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"></app-logout-button>

              </li>
            </ul>
          </div>
        </li>
        <li *ngIf="isMentor()">
          <button
                  (click)="onMentorDropDownClick()"
                  class="flex justify-between items-center py-2 pr-4 pl-3 w-full"
                  id="dropdownMentorNavbarLink"
          >
            Mentor {{user.name}}
            <svg
                    aria-hidden="true"
                    class="ml-1 w-5 h-5"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
            >
              <path
                      clip-rule="evenodd"
                      d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                      fill-rule="evenodd"
              ></path>
            </svg>
          </button>
          <!-- Dropdown menu -->
          <div
                  (mouseleave)="closeMentorDropDown()"
                  *ngIf="mentorDropdownOpen"
                  class="z-10 w-44 font-normal shadow bg-white rounded-md py-1 absolute top-12 right-100"
                  id="dropdownMentorNavbar"
          >
            <ul
                    aria-labelledby="dropdownLargeButton"
                    class="py-1 text-sm text-gray-700"
            >
              <li>
<!--                <a-->
<!--                        (click)="navigateTo('mentor/topic')"-->
<!--                        class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"-->
<!--                >Topics</a-->
<!--                >-->
<!--                <a-->
<!--                        (click)="navigateTo('mentor/proposal')"-->
<!--                        class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"-->
<!--                >Proposals</a-->
<!--                >-->
                <a
                        (click)="navigateTo('mentor')"
                        class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                >Your organisation</a
                >
                <app-logout-button class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"></app-logout-button>

              </li>
            </ul>
          </div>
        </li>
        <li *ngIf="isAdmin()">
          <button
                  (click)="onAdminDropDownClick()"
                  class="flex justify-between items-center py-2 pr-4 pl-3 w-full"
                  id="dropdownNavbarLink"
          >
            Admin {{user.name}}
            <svg
                    aria-hidden="true"
                    class="ml-1 w-5 h-5"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
            >
              <path
                      clip-rule="evenodd"
                      d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                      fill-rule="evenodd"
              ></path>
            </svg>
          </button>
          <!-- Dropdown menu -->
          <div
                  (mouseleave)="closeAdminDropDown()"
                  *ngIf="adminDropdownOpen"
                  class="z-10 w-44 font-normal shadow bg-white rounded-md py-1 absolute top-15 right-100"
                  id="dropdownNavbar"
          >
            <ul
                    aria-labelledby="dropdownLargeButton"
                    class="py-1 text-sm text-gray-700"
            >
              <li>
                <a
                        (click)="navigateTo('admin/topic')"
                        class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                >Topics</a
                >
                <a
                        (click)="navigateTo('admin/proposal')"
                        class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                >Proposals</a
                >
                <a
                        (click)="navigateTo('admin/organisation')"
                        class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                >Organisations</a
                >
                <a
                        (click)="navigateTo('admin/project')"
                        class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                >Projects</a
                >
                <app-logout-button class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"></app-logout-button>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <div class="flex items-center hidden sm:block">
            <img [src]="user.picture" [title]="user.email" class="w-10 h-10 rounded-full" alt="User Image">
          </div>
        </li>
        </ng-container>
        <ng-container *ngIf="!isAuthenticated()">
        <li>
          <app-login-button ></app-login-button>
        </li>
        <li>
          <app-signup-button></app-signup-button>
        </li>
        </ng-container>
      </ul>
    </div>
  </div>
</nav>
