<!-- application-stage component -->

    <div class="mb-2 flex-1">
        <div class="w-10 h-10 mx-auto rounded-full text-lg flex items-center"
             [ngClass]="{'bg-green-400 text-white': completed, 'bg-white border-2 border-grey-light text-black': !completed}">
            <span class="text-center w-full">
                <i class="fa fa-check w-full fill-current" *ngIf="completed; else numberTemplate"></i>
                <ng-template #numberTemplate>{{number}}</ng-template>
            </span>
        </div>
    </div>
    {{name}}


